<div class="container custom-container"> <br><br><br>
  
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
   
  <div class="col-md-12"> <br>
    <h3 class="mb-3 text-center">LOGIN DE ACESSO</h3>

  
  <div class="form-group">
    <input type="text " [(ngModel)]="usuario.nome" id="usuario"  type="text" class="form-control " name="usuario" placeholder="Usuario">
  </div>
  
  <div class="form-group">
    <input type="text" [(ngModel)]="usuario.senha" type="password" class="form-control "  name="senha" placeholder="Senha">
  
  </div>

 
  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit" name="action"  (click)="fazerLogin()">ENTRAR</button>
 