<div class="container custom-container">
  <div class="col-md-12">
    
    <h3 class="mb-3 text-center">Atualizar Filme</h3>

    <div class="form-group">
      <input type="text" [(ngModel)]="filmeData.nome" class="form-control" placeholder="Nome">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="filmeData.genero" class="form-control" placeholder="Gênero">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="filmeData.estrela" class="form-control" placeholder="Estrela">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="filmeData.anolanc" class="form-control" placeholder="Ano de lancamento">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateFilme()">ATUALIZA FILMES</button>
      
        <button class="btn btn-secondary btn-lg btn-block" routerLinkActive="active" routerLink="/filmes-list">CANCELAR</button>
      
      
    </div>
    
  </div>
</div>
