<html >

<div  class="container custom-container-4">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     
    </button>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
               
      </ul>
      <form class="form-inline my-4 my-lg-0">
        <input class="form-control mr-sm-2" type="Pesquisar" placeholder="pesquisar" aria-label="Pesquisar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
    </div>
  </nav>
  <!-- Só ficará visível quando não tiver filmes cadastrado ou o servidor estiver down -->
  <div class="no-data text-center" *ngIf="Filme.length == 0">
    <p>Não há Filmes adicionado ainda ou verifique o status do servidor!</p>

    <button class="btn btn-outline-primary" routerLink="/create-filme">ADICIONAR FILMES</button>
  </div>


  <!-- Tabela de Filmes, não ficará visível caso não haja filmes  cadastrado -->
  <div *ngIf="Filme.length !== 0">
    <p [appHighlight]="color" >Exibindo um total de {{Filme.length}} Filmes</p>
    <h3 [appHighlight]="color" class="mb-3 text-center">LISTA DE FILMES</h3>
    


    <h4>Escolha uma cor de realce</h4>
    <div>
      <input  type="radio" name="colors" (click)="color='lightgreen'">Verde
      <input type="radio" name="colors" (click)="color='yellow'">Amarelo
      <input type="radio" name="colors" (click)="color='cyan'">Ciano
    </div><br>
    



    <div  class="col-md-19">
      <table class="table table-bordered table-striped table-hover">
                <thead>
          <tr>
            <th scope="col">NOME</th>
            <th scope="col">GÊNERO</th>
            <th scope="col">ESTRELA</th>
            <th scope="col">ANO DE LANÇAMENTO</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody> 
          <tr *ngFor="let filme of Filme">
           <div class="form-check">
             <label class="form-check-label">
               <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" unchecked>
               
             </label>
           </div>


           
           <a  [appHighlight]="color" routerLink="/filme-edit/{{filme.id}}" [title] = "'esse filme foi classificado com ' + filme.estrela + ' estrelas ' +  'na categoria ' + filme.genero + ' tendo sido lançado no ano de ' + filme.anolanc"  > 
             <td >{{filme.nome}}</td>
           </a>
            <td >{{filme.genero }}</td>
            <td>{{filme.estrela}}</td>
            <td>{{filme.anolanc}}</td>
            
            <td>
              <span class="btn btn-info" routerLink="/filme-edit/{{filme.id}}">EDITAR</span> 
              
              <button class="btn btn-danger ml-2" (click)="deleteFilme(filme.id)">DELETAR </button>
                </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>


</html>

